go 1.26.6

use (
	./gofi
	./base
	./base/bucket/oci
	./base/bucket/s3
	./base/cloud/aws
	./base/cloud/oci
	./base/secrets/awssm
	./base/secrets/ocivault
	./examples/iam/login
	./examples/msq/kafka/consumer
	./examples/msq/kafka/producer
	./examples/msq/rabbitmq/consumer
	./examples/msq/rabbitmq/producer
	./examples/msq/sqs/consumer
	./examples/msq/sqs/producer
	./examples/netx/api
	./examples/obs
	./examples/sqln/filter-api
	./examples/sqln/search
	./iam
	./msq
	./msq/provider/kafka
	./msq/provider/nats
	./msq/provider/oci
	./msq/provider/rabbitmq
	./msq/provider/redis
	./msq/provider/sqs
	./netx
	./netx/awssign
	./netx/grpcx
	./obs
	./sqln
	./sqln/rdsauth
)
